.vscode/
.idea/
**/*.tgz
Chart.lock
*.iml
target/
**/values-local.yaml
**/your-values.yaml

# Generated values files - do not commit (use template instead)
**/values-hosts.yaml
terraform-ovh/terraform.tfvars
terraform-ovh/terraform.tfstate
terraform-ovh/terraform.tfstate.backup
terraform-ovh/terraform.tfvars.01
terraform-ovh/test_permissions.tf.bak
kubeconfig_3.yaml
kubeconfig-cul9qm.yml
terraform.tfstate
terraform-ovh/tfplan
.terraform/
terraform-ovh/main.tf.backup
charts/umbrella/values-ovh-realms-portal-template.yaml
charts/umbrella/values-ovh-realms-portal.yaml
init-container/iam/centralidp/CX-Central-realm_MAssembly.json
init-container/iam/centralidp/CX-Central-users-0_MAssembly.json
charts/umbrella/values-orbea-persistence.yaml
charts/umbrella/values-orbea-portal.yaml
