.vscode/
.idea/
**/*.tgz
Chart.lock
*.iml
target/
**/values-local.yaml
**/your-values.yaml

# Generated values files - do not commit (use template instead)
**/values-hosts.yaml
terraform-ovh/terraform.tfvars
terraform-ovh/terraform.tfstate
terraform-ovh/terraform.tfstate.backup
terraform-ovh/terraform.tfvars.01
terraform-ovh/test_permissions.tf.bak
kubeconfig_3.yaml
kubeconfig-cul9qm.yml
terraform.tfstate
terraform-ovh/tfplan
.terraform/
terraform-ovh/main.tf.backup
charts/umbrella/values-ovh-realms-portal-template.yaml
charts/umbrella/values-ovh-realms-portal.yaml
init-container/iam/centralidp/CX-Central-realm_MAssembly.json
init-container/iam/centralidp/CX-Central-users-0_MAssembly.json
charts/umbrella/values-orbea-persistence.yaml
charts/umbrella/values-orbea-portal.yaml
init-container/iam/centralidp/CX-Central-realm.json.backup-20260128-154127
init-container/iam/centralidp/CX-Central-realm.json.backup-20260129-091203
.gitignore
.gitignore
init-container/iam/for MAssembly/CX-Central-users-0_MAssembly.json
init-container/iam/for MAssembly/CX-Central-realm_MAssembly.json
init-container/iam/centralidp/CX-Central-realm.json.backup-20260129-091350
init-container/iam/centralidp/CX-Central-realm-51.178.94.25.nip.io.json
onboarding/MAssembly.txt
charts/umbrella/values-ovh-hosts-portal-51.68.114.44.nip.io.yaml
charts/umbrella/values-ovh-hosts-portal-template old.yaml
terraform-ovh/main.tf. - 2026.01.23 - Generado por Copilot para Ingress (sin probar)
terraform-ovh/GUIA_TERRAFORM_OVH_Original_sin_formatear.md
